@import './setting.scss';

#todo {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.navbar {
    @include flex-around;
    background-color: $grey;
    .navbar_link {
        @include flex-center;
        font-size: 25px;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        padding: 10px;
        border-radius: 4px;
        margin: 10px 0;
        transition: all .3s ease-in;
        div {
            @include flex-center;
        }
    }
    .navbar_link:hover {
        background-color: $white;
        color: $grey;
    }
    .active {
        background-color: $white;
        color: $grey;
    }
}
h1 {
    font-size: 4vh;
    text-align: center;
    margin: 15px;
}
.todo_ul {
    @include flex-around;
    flex-direction: column;
    padding: 0;
    margin: 0;
    .ul_li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        box-shadow: 2px 2px 10px $grey;
        padding: 10px;
        margin: 5px 0;
        height: 10vh;
        width: 90%;
        font-size: 3vh;
        .button-check {
            @include flex-center;
            border: 1px solid $grey;
            padding: 5px;
            border-radius: 3px; 
            font-size: 3vh;
            color: $black;
            background-color: $white;
            transition: all .2s ease-in;
        }
        .green {
            background-color: $green;
            color: $white;
        }
        .button-check:hover {
            background-color: $green;
            color: $white;
            transform: scale(1.2);
        }
    }
}
.todo_addtask {
    @include flex-around;
    flex-direction: column;
    margin: 5px;
    .addtask_input {
        width: 60%;
        height: 50px;
        margin: 5px;
        border-radius: 3px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .addtask_btn {
        @include flex-center;
        font-size: 25px;
        color: $white;
        background-color: $grey;
        border: 1px solid $white;
        padding: 10px;
        border-radius: 4px;
        margin: 10px 0;
        transition: all .3s ease-in;
    }
    .addtask_btn:hover {
        background-color: $white;
        color: $grey;
        border: 1px solid $grey;
    }
}